<appSettings>
  <add key="Environment" value="local"/>
  <add key="EnableMiniProfiler" value="0"/>
  <add key="OptimizeJS" value="1"/>
  <add key="OptimizeStyle" value="1"/>
  <!--CacheName: Config, 每次获取都将生命周期延长到设定的时间端 -->
  <add key="ConfigCacheSlidingExpirationTimeSpan" value="01:00:00"/>
  <!--CacheName: Config, 12个小时后过期 -->
  <add key="ConfigCacheAbsoluteExpirationTimeSpan" value="12:00:00"/>
</appSettings>
