<handlers>
  <remove verb="*" path="*.asmx"/>
  <add verb="*" name="MyHandler" path="MyHandler.ashx" type="DM.WebUI.HttpHander.MyHandler,DM.WebUI.HttpHander"/>
  <add verb="*" name="ScriptOptimizer" path="ScriptOptimizer.ashx" type="DM.WebUI.HttpHander.HttpHanderCommon.ScriptOptimizer, DM.WebUI.HttpHander.HttpHanderCommon"/>
  <add verb="*" name="StyleOptimizer" path="StyleOptimizer.ashx" type="DM.WebUI.HttpHander.HttpHanderCommon.StyleOptimizer, DM.WebUI.HttpHander.HttpHanderCommon"/>
</handlers>
