<handlers>
  <add verb="*" name="MiniProfiler" path="/mini-profiler-resources/*" type="StackExchange.Profiling.UI.MiniProfilerHandler, MiniProfiler35"/>
  <add verb="*" name="MyHandler" path="MyHandler.ashx" type="DM.WebUI.HttpHander.MyHandler,DM.WebUI.HttpHander"/>
  <add verb="*" name="ScriptOptimizer" path="ScriptOptimizer.ashx" type="DM.WebUI.HttpHander.HttpHanderCommon.ScriptOptimizer"/>
  <add verb="*" name="StyleOptimizer" path="StyleOptimizer.ashx" type="DM.WebUI.HttpHander.HttpHanderCommon.StyleOptimizer"/>
  <!--当HttpHanderCommon为dll时，type=DM.WebUI.HttpHander.HttpHanderCommon.StyleOptimizer, DM.WebUI.HttpHander.HttpHanderCommon -->
</handlers>
