<httpHandlers>
  <remove verb="*" path="*.asmx"/>
  <add verb="*" path="/mini-profiler-resources/*" type="StackExchange.Profiling.UI.MiniProfilerHandler, MiniProfiler35"/>
  <add verb="*" path="MyHandler.ashx" type="DM.WebUI.HttpHander.MyHandler"/>
  <add verb="*" path="ScriptOptimizer.ashx" type="DM.WebUI.HttpHander.HttpHanderCommon.ScriptOptimizer"/>
  <add verb="*" path="StyleOptimizer.ashx" type="DM.WebUI.HttpHander.HttpHanderCommon.StyleOptimizer"/>
</httpHandlers>
