<?xml version="1.0" encoding="utf-8" ?>
<StructureMap MementoStyle="Attribute">
  <PluginFamily Type="DM.IService.IProductService" Assembly="DM.IService">
    <Instance Key="Default" PluggedType="DM.Service.ProductService,DM.Service"/>
  </PluginFamily>
  <PluginFamily Type="DM.Infrastructure.Route.IUrlRewriter" Assembly="DM.Infrastructure.Route">
    <Instance Key="Default" PluggedType="DM.Infrastructure.Route.DefaultUrlRewriter,DM.Infrastructure.Route"/>
  </PluginFamily>
</StructureMap>
