<?xml version="1.0" encoding="utf-8" ?>
<StructureMap MementoStyle="Attribute">
  <PluginFamily Type="DM.IService.IProductService" Assembly="DM.IService">
    <Instance Key="Default" PluggedType="DM.Service.ProductService,DM.Service"/>
  </PluginFamily>
  <PluginFamily Type="DM.Infrastructure.Route.IUrlRewriter" Assembly="DM.Infrastructure.Route">
    <Instance Key="Default" PluggedType="DM.Infrastructure.Route.DefaultUrlRewriter,DM.Infrastructure.Route"/>
  </PluginFamily>
  <PluginFamily Type="DM.Infrastructure.Cache.ICache" Assembly="DM.Infrastructure.Cache">
    <Instance Key="Config" PluggedType="DM.Infrastructure.Cache.ConfigEntCache,DM.Infrastructure.Cache"/>
    <Instance Key="Lang" PluggedType="DM.Infrastructure.Cache.LangEntCache,DM.Infrastructure.Cache"/>
    <Instance Key="Script" PluggedType="DM.Infrastructure.Cache.ScriptEntCache,DM.Infrastructure.Cache"/>
    <Instance Key="Style" PluggedType="DM.Infrastructure.Cache.StyleEntCache,DM.Infrastructure.Cache"/>
  </PluginFamily>
  <PluginFamily Type="DM.Infrastructure.Log.ILogger" Assembly="DM.Infrastructure.Log">
    <Instance Key="Default" PluggedType="DM.Infrastructure.Log.Logging,DM.Infrastructure.Log"/>
  </PluginFamily>
</StructureMap>
