<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="RouteRule" type="DM.Infrastructure.Route.RoutesConfig, DM.Infrastructure.Route"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CacheConfig" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        filePath="Config\caching.config" />
    </sources>
    <redirectSections>
      <add sourceName="CacheConfig" name="cachingConfiguration" />
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings configSource="Config\appSettings.config"/>
  <RouteRule configSource="Config\RouteRule.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <!-- ASP.NET handler and module setting -->
    <httpHandlers configSource="Config\HttpHandlers.config"/>
    <httpModules configSource="Config\HttpModules.config"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- IIS handler and module setting -->
    <handlers configSource="Config\Handlers.config"/>
    <modules configSource="Config\Modules.config"/>
    <handlers>
      <add name="MiniProfiler" verb="*" path="/mini-profiler-resources/*" type="StackExchange.Profiling.UI.MiniProfilerHandler, MiniProfiler35"/>
    </handlers>
  </system.webServer>
</configuration>